/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=VT323);


/*
* Setup
*/
body, input, a {
  background: #441B02;
  color:  #DEA02C;
  text-shadow: #DEA02C 0 -1px 35px;
  font-family: 'VT323', Arial, Helvetica, sans-serif;;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
  
form, p, span {
    margin:0;
    padding:0;
}

tr td {
  display: block;
}

/*
form input[type="text"] {
    text-transform: lowercase;
}
*/ 
  
a {
    text-decoration:none; 
}
  
a:hover { 
    text-decoration:underline; 
}

textarea:focus, input:focus{
    outline: none;
}


/*
* Custom
*/
.container {
  padding: 25px;
  width: 100%;
  border: none; 
  margin: 0 auto;
}

#terminal {
    text-align:left;
    border: 1px solid #441B02;
    overflow:auto;
    height: 325px;
}

#input {
  border: none;
}


/*
* Commandline input
*/

/*
#cmd {
  padding: 10px;
  overflow: hidden;
}

#cmd span {
  float: left;
  padding-left: 3px;
  white-space: pre;
}

#cursor {
  float: left;
  width: 10px;
  height: 24px;
  background: #DEA02C;
}
input {
  width: 0;
  height: 0;
  opacity: 0;
}
*/

/*
 *  Scrollbar style
 */
#terminal::-webkit-scrollbar-track, #terminal::-webkit-scrollbar-corner
{
   
    background-color: #441B02;
}

#terminal::-webkit-scrollbar
{
    background-color: #441B02;
}
