{% extends "templates/app.twig" %}

{% block content %}

    <div id="terminal" data-termynal data-ty-typeDelay="1" data-ty-lineDelay="1">

    <p data-ty="input">Trying...</p>

    <br data-ty>

    <p data-ty="input">Connected to {{ auth.host.host_name|upper }}</p>

    <br data-ty>

    <p data-ty="input">Current time is {{ "now"|date("g:i", 'Europe/Copenhagen') }}.</p>

    <br data-ty>

    <p data-ty="input">CP/M-86 for the IBM PC, Version 1.0</p>
    <p data-ty="input">(C)Copyright 1983, Digital Research</p>

    <br data-ty>

    <p data-ty="input">Type <b>HELP</b> for detailed command list.</p>
    </div>

    {% include "templates/partials/host/input.twig" %}
    
{% endblock %}
