{% extends "templates/app.twig" %}

{% block content %}

    <div id="terminal" data-termynal data-ty-typeDelay="1" data-ty-lineDelay="1">

    <p data-ty="input">Trying...</p>

    <br data-ty>

    <p data-ty="input">Connected to DATANET</p>

    <br data-ty>

    <p data-ty="input">It is {{ "now"|date("l g:i a, F j, Y", 'Europe/Copenhagen') }}.</p>

    <br data-ty>

    <p data-ty="input">Welcome to Datanet!</p>

    <br data-ty>

    <p data-ty="input">Type "?" or <b>HELP</b> for detailed command list.</p>
    <p data-ty="input">Type <b>NEWUSER</b> < username > < password > [ email ] to create an account.</p>
    </div>

    <form>
    <span>.<input type="text" name="cmd" id="input" autocomplete="off"/></span>
    </form>
    
{% endblock %}
