/* Commodore 64 CSS */

/*
* Setup
*/
body, input, a {
  background: #493AAA;
  color:  #A5A3FF;
  text-shadow: #A5A3FF 0 -1px 35px;
}


/*
 *  Scrollbar style
 */
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner, body::-webkit-scrollbar
{
    background-color: #493AAA;
}

