/* UNIX CSS */

/*
* Setup
*/
body, input, a {
  background: #202720;
  color:  #29CB75;
  text-shadow: #29CB75 0 -1px 35px;
}


/*
 *  Scrollbar style
 */
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner, body::-webkit-scrollbar
{
    background-color: #202720;
}

