{% extends "templates/app.twig" %}

{% block content %}

    <div id="terminal" data-termynal data-ty-typeDelay="1" data-ty-lineDelay="1">

    <form data-ty="input">
    <span>Username: <input type="text" name="cmd" id="input" autocomplete="off"/></span>
    </form>
    </div>
    
{% endblock %}
