{% extends "templates/app.twig" %}

{% block content %}

    <div id="terminal" data-termynal data-ty-typeDelay="1" data-ty-lineDelay="1">
    <p data-ty="input">username?</p>

    <br data-ty>

    </div>

    <br>

    <div id="cmd">
      <span></span>
      <div id="cursor"></div>
    </div>

    <form>
    <input type="text" name="cmd" id="input" />
    </form>

    <script type="text/javascript">
    $(document).ready(function(){

    $("#input").inputhistory();

            //If user submits the form
    $("form").submit(function(e){

        e.preventDefault();

        var client = $("#input").val();

        var input = client.split(" ");

        var cmd = input[0].toLowerCase();

        var url = window.location.href.substr( window.location.href.lastIndexOf('/') + 1);

         console.log(url);
     
        var oldscrollHeight = $("#terminal").prop("scrollHeight") - 20; //Scroll height before the 

        $.ajax({
            type: "POST",
            url: "{{ base_url() }}/cmd/" + url,
            cache: false,
            data: {input: client},
            success: function(data){      

                if(data == 200) {

                    console.log(data);

                } else if(data == 'Password:') {

                    $("#input").type = 'password';

                } else {

                    $("#terminal").append(data, "<br>"); //Insert chat log into the #terminal div  

                        //Auto-scroll           
                    var newscrollHeight = $("#terminal").prop("scrollHeight") - 20; //Scroll height after the request
                    if(newscrollHeight > oldscrollHeight){
                        $("#terminal").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
                    } 
                }   
                              
            },
            error: function(xhr, status, error) {
                var errorMessage = "% unrecognized command - type HELP for a list";
                $("#terminal").append(errorMessage, "<br>");

                var newscrollHeight = $("#terminal").prop("scrollHeight") - 20; //Scroll height after the request
                    if(newscrollHeight > oldscrollHeight){
                        $("#terminal").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
                } 
            }
        });

         $("#input").prop("value", "");

        return false;

    });

    }); 
    </script>
{% endblock %}
